.card--reduction,
.card--active {
  display: block;
  min-height: 400px;
  width: 500px;
  border: 2px black solid;
  border-radius: 7%;
  position: relative;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-special-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 3%;
}

.card__but-wrapper--active {
  position: absolute;
  left: 20px;
  top: 20px;
}

.passive {
  display: none;
}

.active {
  display: block;
}
.card--reduction,
.card--active {
  height: 400px;
  width: 500px;
  border: 2px black solid;
  border-radius: 7%;
  position: relative;
  display: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-special-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 3%;
}

.card__but-wrapper--active {
  position: absolute;
  left: 20px;
  top: 20px;
}

.passive {
  display: none;
}

.active {
  display: block;
}
