
@import url(card.scss);
@import url(card-all.scss);
@import url(main.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0 auto;
  background-color: rgb(68, 220, 240);
  .header-content {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-img {
    max-width: 80px;
    background: #000;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
  }
  .logo-text {
    font-size: 40px;
    margin-left: 10px;
    color: rgb(243, 9, 126);
  }
  .logo-text_span {
    color: #fff;
  }
}
.logo {
  display: flex;
  align-items: center;
  text-align: center;
}

.button-entry {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: #0092e7;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.button-create {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: #0092e7;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.button-entry {
  // cursor: pointer;
  // width: 150px;
  // height: 40px;
  // background-color: #0092e7;
  // color: white;
  // border-radius: 10px;
  // text-align: center;
  // padding: 10px;
  //   -webkit-border-radius: 10px;
  //   -moz-border-radius: 10px;
  //   -ms-border-radius: 10px;
  //   -o-border-radius: 10px;
}
.button-create {
  // cursor: pointer;
  // width: 150px;
  // height: 40px;
  // background-color: #0092e7;
  // color: white;
  // border-radius: 10px;
  // padding: 10px;
  // text-align: center;
  // -webkit-border-radius: 10px;
  // -moz-border-radius: 10px;
  // -ms-border-radius: 10px;
  // -o-border-radius: 10px;
}

//modal//
.input-registation {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  height: 30px;
  padding-left: 16px;
}
.container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.modal-body {
  position: relative;
  width: 100%;
  // max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
}
.modal-form {
  border-radius: 5px;
  position: absolute;
  top: 20%;
  background-color: #ffffff;
  max-width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.form-floating {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.floatingInput {
  margin-bottom: 5px;
}
.form-control {
  height: 30px;
  padding-left: 5px;
  border-radius: 4px;

  border-color: #fff;
  border-style: unset;
}

.btn-primary {
  background-color: #0092e7;
  color: white;
  border-radius: 10px;
  border: none;
  width: 187px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.container-registration  {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: 1000;
}
 .container-edit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: 1000;
}
.btn {
  background-color: #2196f3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.visit-form {
  max-height: 100%;

  .visit-drop {
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  .textarea {
    height: 70px;
    max-height: 240px;
    max-width: 400px;
    min-width: 400px;
    padding-left: 5px;
    border-radius: 4px;
    background-color: rgb(238, 238, 238);
    border-color: rgb(110, 110, 110);
    border-style: unset;
  }
  .form-control {
    width: 100%;
    background-color: rgb(238, 238, 238);
  }
  .btn-visit .btn-edit {
    width: 140px;
  }
  .rounded-3 {
    height: 30px;
    padding-left: 5px;
    border-radius: 4px;

    border-color: rgb(110, 110, 110);
    border-style: unset;
  }
  .close-img {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
.close-img_2 {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.card-section-a {
  width: 1200px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5em;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Serif", serif;
}
