body {
  background-color: #eee;
  box-sizing: border-box;
}
.main-box {
  min-height: 849px;
  background-color: rgb(68, 220, 240);
}

.container-a {
  max-width: 1200px;
  margin: 0 auto;
}

.section-width {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 10fr;
  max-width: 1420px;
  margin: 0 auto;
  padding-top: 50px;
}

.filter {
  position: sticky;
  top: 0;
  padding: 20px;
  // background-color: #fff;
  width: 200px;
}

.filter-box {
  padding-top: 20px;
  display: none;
}

.doctor-name {
  padding: 10px;
  display: inline-grid;
  line-height: 1.5;
}

.filter-id {
  padding-top: 10px;
}

.filter-title {
  padding-bottom: 10px;
}

// .btn:last-of-type {
//     // margin-top: 20px;
// }

.filter-box-grid {
  display: block;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  min-height: 226px;
}

.btn {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;

  padding: 10px 20px;
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #0092e7;
  width: 100%;
  cursor: pointer;
  width: 150px;
}

.btn:disabled {
  opacity: 0.65;
}

// .btn:hover {
  // color: rgb(112, 110, 110);
// }

.btn:hover:not([disabled]) {
  color: rgb(196, 187, 187);

  opacity: 0.8;
}

.btn:active:not([disabled]) {
  box-sizing: border-box;

  outline: none;
  background-color: #015485;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.section {
  background-color: #f5f5f5;
  box-shadow: 0 0 12px 2px #313131;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Lato,sans-serif;
  border-radius: 50px;
  padding: 20px;

}
.main{
  max-width: 970px;
}
